---
import Menu from './components/Menu.astro';
import Navigation from './Navigation.astro';
---

<div id="main-menu" class="nav-links">

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
</div>